<settings>
    <setting id="Home_Weather_Icon" type="bool">false</setting>
    <setting id="Show_Scrollbar" type="bool">true</setting>
    <setting id="Disable_CDART" type="bool">false</setting>
    <setting id="fanart_Disable_CDART" type="bool">false</setting>
    <setting id="Enable.ShowCase.FloorInfo.seasons" type="bool">false</setting>
    <setting id="Enable.ShowCase.Covers" type="bool">false</setting>
    <setting id="useclearcases" type="bool">false</setting>
    <setting id="coloredflags" type="bool">false</setting>
    <setting id="Disable.BoxsetBrochure" type="bool">false</setting>
    <setting id="Enable.Wall.SeasonGenre" type="bool">false</setting>
    <setting id="showcasemod" type="bool">false</setting>
    <setting id="fanart_Disable_TVFAKECDART" type="bool">false</setting>
    <setting id="Enable.Wall.TVShowGenre" type="bool">false</setting>
    <setting id="noshowcaseflow" type="bool">false</setting>
    <setting id="HorizontalListNav" type="bool">false</setting>
    <setting id="Disable.UnwatchedIcon" type="bool">false</setting>
    <setting id="Enable.ShowCase.FloorInfo.tvshows" type="bool">false</setting>
    <setting id="skinshortcuts-widget-PictureAddons" type="bool">true</setting>
    <setting id="SkinHelper.EnableAnimatedPosters" type="bool">false</setting>
    <setting id="SkinHelper.View.Disabled.56" type="bool">false</setting>
    <setting id="PreferOriginalTitles" type="bool">false</setting>
    <setting id="FullscreenMusic" type="bool">false</setting>
    <setting id="TouchScreenMode" type="bool">false</setting>
    <setting id="Prefer_RTL" type="bool">false</setting>
    <setting id="SkinHelper.EnableExtraFanart" type="bool">false</setting>
    <setting id="FS_Video" type="bool">false</setting>
    <setting id="Enable.Showcase.SeasonGenre" type="bool">false</setting>
    <setting id="Enable.Showcase.MovieGenre" type="bool">false</setting>
    <setting id="Disable_Fanart" type="bool">true</setting>
    <setting id="ArtistSlide" type="bool">false</setting>
    <setting id="SmartShortcuts.favorites" type="bool">true</setting>
    <setting id="SkinHelper.View.Disabled.53" type="bool">false</setting>
    <setting id="skinshortcuts-background-special://skin/backgrounds/globalsettings.jpg" type="bool">true</setting>
    <setting id="skinshortcuts-widget-systeminfo" type="bool">true</setting>
    <setting id="skinshortcuts-widget-ProgramAddons" type="bool">true</setting>
    <setting id="skinshortcuts-background-$INFO[Window(Home).Property(SkinHelper.AllMoviesBackground)]" type="bool">true</setting>
    <setting id="SkinHelper.view.Disabled.50" type="bool">false</setting>
    <setting id="skinshortcuts-widget-NextEpisodes" type="bool">true</setting>
    <setting id="skinshortcuts-widget-PVR" type="bool">true</setting>
    <setting id="skinshortcuts-widget-RandomAlbums" type="bool">true</setting>
    <setting id="skinshortcuts-background-$INFO[Window(Home).Property(SkinHelper.AllMusicBackground)]" type="bool">true</setting>
    <setting id="skinshortcuts-background-$INFO[Window(Home).Property(SkinHelper.AllTvShowsBackground)]" type="bool">true</setting>
    <setting id="SmartShortcuts.emby" type="bool">false</setting>
    <setting id="SkinHelper.EnableWallBackgrounds" type="bool">false</setting>
    <setting id="SmartShortcuts.playlists" type="bool">true</setting>
    <setting id="SkinHelper.EnableMusicArt" type="bool">false</setting>
    <setting id="SkinHelper.EnableExtraPoster" type="bool">false</setting>
    <setting id="enable.smartish.widgets" type="bool">false</setting>
    <setting id="SkinHelper.DisableScreenSaverOnFullScreenMusic" type="bool">false</setting>
    <setting id="skinshortcuts-widget-MusicVideos" type="bool">true</setting>
    <setting id="skinshortcuts-background-$INFO[Window(Home).Property(SkinHelper.AllMusicVideosBackground)]" type="bool">true</setting>
    <setting id="skinshortcuts-widget-weather" type="bool">true</setting>
    <setting id="skinshortcuts-background-weather" type="bool">true</setting>
    <setting id="SmartShortcuts.plex" type="bool">false</setting>
    <setting id="Showcase_HidePanel" type="bool">false</setting>
    <setting id="Enable.ShowCase.Logo" type="bool">false</setting>
    <setting id="Enable.ShowCase.FloorInfo.movies" type="bool">false</setting>
    <setting id="fanart_seps" type="bool">false</setting>
    <setting id="bold_list" type="bool">false</setting>
    <setting id="fanart_trans" type="bool">false</setting>
    <setting id="Pictures_hide_panel" type="bool">false</setting>
    <setting id="AutoScroll" type="bool">false</setting>
    <setting id="Enable.Landscape.TVShowGenre" type="bool">false</setting>
    <setting id="SkinHelper.View.Disabled.54" type="bool">false</setting>
    <setting id="Enable.Landscape.SeasonGenre" type="bool">false</setting>
    <setting id="Enable.Wall.MovieGenre" type="bool">false</setting>
    <setting id="Enable.Showcase.TVShowGenre" type="bool">false</setting>
    <setting id="Disable_Splash" type="bool">true</setting>
    <setting id="SkinHelper.View.Disabled.57" type="bool">false</setting>
    <setting id="fanart_plot" type="bool">false</setting>
    <setting id="Hide_label_view_51" type="bool">false</setting>
    <setting id="Hide_label_view_52" type="bool">false</setting>
    <setting id="NextAired" type="bool">false</setting>
    <setting id="skinshortcuts-widget-addon" type="bool">true</setting>
    <setting id="skinshortcuts-background-$INFO[Window(Home).Property(favorite.6.image)]" type="bool">true</setting>
    <setting id="skinshortcuts-background-$INFO[Window(Home).Property(favorite.0.image)]" type="bool">true</setting>
    <setting id="Home_HideTopBar" type="bool">false</setting>
    <setting id="hide_fanart_topbar" type="bool">false</setting>
    <setting id="Enable.Landscape.MovieGenre" type="bool">false</setting>
    <setting id="Hide_SideTab" type="bool">false</setting>
    <setting id="KioskMode" type="bool">false</setting>
    <setting id="Toggling" type="bool">false</setting>
    <setting id="SkinHelper.EnablePVRThumbs" type="bool">false</setting>
    <setting id="skinshortcuts-widget-Favourites" type="bool">true</setting>
    <setting id="SkinHelper.EnableExtendedArt" type="bool">false</setting>
    <setting id="weather.icons.multi" type="bool">false</setting>
    <setting id="BannerList_PreferPoster" type="bool">false</setting>
    <setting id="SkinShortcuts-FullMenu" type="bool">true</setting>
    <setting id="boxsetmod" type="bool">false</setting>
    <setting id="SkinHelper.EnableDayNightThemes" type="bool">false</setting>
    <setting id="skinshortcuts-widget-VideoAddons" type="bool">true</setting>
    <setting id="skinshortcuts-widget-RecentMovies" type="bool">true</setting>
    <setting id="HideShutdown" type="bool">true</setting>
    <setting id="Contexting" type="bool">false</setting>
    <setting id="SkinHelper.ForcedViews.Enabled" type="bool">false</setting>
    <setting id="Home_Horizontal" type="bool">false</setting>
    <setting id="fanart_Disable_FAKECDART" type="bool">false</setting>
    <setting id="SkinHelper.View.Disabled.51" type="bool">false</setting>
    <setting id="BannerList_hide_panel" type="bool">false</setting>
    <setting id="SkinHelper.View.Disabled.52" type="bool">false</setting>
    <setting id="Home_Eminence_Layout" type="bool">false</setting>
    <setting id="HideWidgets" type="bool">true</setting>
    <setting id="weather.fanart.multi" type="bool">false</setting>
    <setting id="Vis-ArtistSlide" type="bool">false</setting>
    <setting id="Hide_label_view_55" type="bool">false</setting>
    <setting id="Hide_label_view_56" type="bool">false</setting>
    <setting id="SkinHelper.View.Disabled.55" type="bool">false</setting>
    <setting id="SkinHelper.DisableHoursDuration" type="bool">false</setting>
    <setting id="SkinHelper.EnableAddonsLookups" type="bool">false</setting>
    <setting id="SmartShortcuts.favorites" type="string"></setting>
    <setting id="SkinHelper.StudioLogos.Path" type="string"></setting>
    <setting id="WindowColorMain" type="string">ff000000</setting>
    <setting id="WindowColorThemed" type="string">ff0084ff</setting>
    <setting id="skinshortcuts-widget-1" type="string">Favourites</setting>
    <setting id="skinshortcuts-widget-3" type="string">ProgramAddons</setting>
    <setting id="mypassword" type="string"></setting>
    <setting id="skinshortcuts-widget-7" type="string">PVR</setting>
    <setting id="dialog_msg" type="string">Are you sure you want to Reset all Menus including sub-menus to their defaults values?[CR]This Will Reset EVERYTHING.[CR] click ok to confirm.</setting>
    <setting id="SkinHelper.ForcedViews.addons" type="string"></setting>
    <setting id="mouse_color" type="string"></setting>
    <setting id="main_color" type="string"></setting>
    <setting id="widelist_bg_color.name" type="string">None</setting>
    <setting id="widelist_color.name" type="string">None</setting>
    <setting id="default_global_bg" type="string"></setting>
    <setting id="weather.fanart.path" type="string"></setting>
    <setting id="SkinHelper.AllMoviesBackground.EnableWallImages" type="string">12</setting>
    <setting id="widelist_bg_color" type="string">None</setting>
    <setting id="playlist.1.image.EnableWallImages" type="string">12</setting>
    <setting id="SkinHelper.AllTvShowsBackground.EnableWallImages" type="string">12</setting>
    <setting id="skinshortcuts-widget-5" type="string">RecentMovies</setting>
    <setting id="skinshortcuts-widget-6" type="string">NextEpisodes</setting>
    <setting id="widelist_color" type="string">None</setting>
    <setting id="SkinHelper.ForcedViews.files" type="string"></setting>
    <setting id="AfterReload_Category" type="string">94</setting>
    <setting id="skinshortcuts-widget-4" type="string">VideoAddons</setting>
    <setting id="SkinHelper.AllMusicVideosBackground.EnableWallImages" type="string">12</setting>
    <setting id="topbar_rss2_color" type="string"></setting>
    <setting id="topbar_rss1_color" type="string"></setting>
    <setting id="skinshortcuts-widget-8" type="string">RandomAlbums</setting>
    <setting id="skinshortcuts-widget-9" type="string">MusicVideos</setting>
    <setting id="weather.icons.path" type="string"></setting>
    <setting id="playlist.0.image.EnableWallImages" type="string">12</setting>
    <setting id="list_bg_color" type="string"></setting>
    <setting id="playlist.5.image.EnableWallImages" type="string">12</setting>
    <setting id="default_music_bg" type="string"></setting>
    <setting id="SkinHelper.WallImagesDelay" type="string">4</setting>
    <setting id="SkinHelper.ForcedViews.sets" type="string"></setting>
    <setting id="SkinHelper.ForcedViews.setmovies" type="string"></setting>
    <setting id="LyricScript_Path" type="string"></setting>
    <setting id="SkinHelper.ColorTheme.Day.time" type="string"></setting>
    <setting id="SkinHelper.ColorTheme.Night.time" type="string"></setting>
    <setting id="menu_icon_color_nf" type="string"></setting>
    <setting id="busy" type="string">special://skin/extras/busy/3.gif</setting>
    <setting id="password_fanart" type="string"></setting>
    <setting id="list_color_custom" type="string"></setting>
    <setting id="SkinHelper.ForcedViews.seasons" type="string"></setting>
    <setting id="SkinHelper.ForcedViews.episodes" type="string"></setting>
    <setting id="weather.icons.ext" type="string"></setting>
    <setting id="SkinHelper.RandomFanartDelay" type="string">10</setting>
    <setting id="skinshortcuts-widget-10" type="string">PictureAddons</setting>
    <setting id="skinshortcuts-widget-11" type="string">weather</setting>
    <setting id="fanart_view_opacity" type="string"></setting>
    <setting id="passcode" type="string"></setting>
    <setting id="ShowCase.Delay" type="string"></setting>
    <setting id="widelist_view_opacity" type="string">70</setting>
    <setting id="autostart_playlist" type="string"></setting>
    <setting id="SkinHelper.ShowInfoAtPlaybackStart" type="string"></setting>
    <setting id="dialog_header" type="string">Reset</setting>
    <setting id="playlist.2.image.EnableWallImages" type="string">12</setting>
    <setting id="playlist.3.image.EnableWallImages" type="string">12</setting>
    <setting id="SkinHelper.PicturesBackground.EnableWallImages" type="string">12</setting>
    <setting id="topbar_text_color" type="string"></setting>
    <setting id="topbar_home_opacity" type="string">70</setting>
    <setting id="SkinHelper.AutoCloseVideoOSD" type="string">5</setting>
    <setting id="weather.fanart.ext" type="string"></setting>
    <setting id="menu_bg_opacity" type="string"></setting>
    <setting id="skinshortcuts-widget-2" type="string">systeminfo</setting>
    <setting id="password_time" type="string"></setting>
    <setting id="AfterReload" type="string"></setting>
    <setting id="splash_path" type="string"></setting>
    <setting id="music_path" type="string"></setting>
    <setting id="default_livetv_bg" type="string"></setting>
    <setting id="default_pictures_bg" type="string"></setting>
    <setting id="SkinHelper.ForcedViews.movies" type="string"></setting>
    <setting id="SkinHelper.ForcedViews.tvshows" type="string"></setting>
    <setting id="SkinHelper.ForcedViews.artists" type="string"></setting>
    <setting id="SkinHelper.ForcedViews.albums" type="string"></setting>
    <setting id="SkinHelper.ForcedViews.songs" type="string"></setting>
    <setting id="SkinHelper.ForcedViews.pictures" type="string"></setting>
    <setting id="skinshortcuts-sharedmenu" type="string">true</setting>
    <setting id="playlist.7.image.EnableWallImages" type="string">12</setting>
    <setting id="SkinHelper.AutoCloseMusicOSD" type="string"></setting>
    <setting id="MovieGenreIconPack.path" type="string"></setting>
    <setting id="dialog_action" type="string">RunScript(script.skinshortcuts,type=resetall)</setting>
    <setting id="MusicGenreIconPack.path" type="string"></setting>
    <setting id="Section" type="string">1</setting>
    <setting id="SkinHelper.CustomPicturesBackgroundPath" type="string"></setting>
    <setting id="SkinHelper.AllMusicBackground.EnableWallImages" type="string">12</setting>
    <setting id="playlist.4.image.EnableWallImages" type="string">12</setting>
    <setting id="playlist.6.image.EnableWallImages" type="string">12</setting>
    <setting id="SmartShortcuts.playlists" type="string"></setting>
    <setting id="videoinfo_traileraction" type="string"></setting>
</settings>
