<settings>
    <setting id="NoViewGames" type="bool">false</setting>
    <setting id="ViewPreferLandscape" type="bool">false</setting>
    <setting id="SkinHelper.EnableExtraFanart" type="bool">false</setting>
    <setting id="NextAired" type="bool">false</setting>
    <setting id="HideVideoFanart" type="bool">true</setting>
    <setting id="ShowVideoPath" type="bool">true</setting>
    <setting id="OneButtonSubtitles" type="bool">false</setting>
    <setting id="HideMusicFanart" type="bool">false</setting>
    <setting id="NoShutdownDestructive" type="bool">false</setting>
    <setting id="ShowAudioPath" type="bool">true</setting>
    <setting id="SlimMusicInfo" type="bool">false</setting>
    <setting id="ShowMusicTime" type="bool">true</setting>
    <setting id="skinshortcuts-background-home\radio\" type="bool">true</setting>
    <setting id="VisBgFanart" type="bool">false</setting>
    <setting id="VisBgExtraFanart" type="bool">true</setting>
    <setting id="SkinHelper.EnableDayNightThemes" type="bool">false</setting>
    <setting id="SkinHelper.EnableExtendedArt" type="bool">false</setting>
    <setting id="SmartShortcuts.emby" type="bool">false</setting>
    <setting id="SmartShortcuts.playlists" type="bool">false</setting>
    <setting id="ShowDate" type="bool">false</setting>
    <setting id="enable.smartish.widgets" type="bool">false</setting>
    <setting id="Home_Horizontal" type="bool">false</setting>
    <setting id="HideClock" type="bool">false</setting>
    <setting id="SkinHelper.DisableScreenSaverOnFullScreenMusic" type="bool">false</setting>
    <setting id="Toggling" type="bool">false</setting>
    <setting id="DebugGrid" type="bool">false</setting>
    <setting id="skinshortcuts-background-home\pictures\" type="bool">true</setting>
    <setting id="SkinShortcuts-FullMenu" type="bool">true</setting>
    <setting id="SkinHelper.EnableWallBackgrounds" type="bool">false</setting>
    <setting id="VisBgArtistSlideshow" type="bool">false</setting>
    <setting id="VisBgKenBurns" type="bool">true</setting>
    <setting id="skinshortcuts-background-home\programs\" type="bool">true</setting>
    <setting id="skinshortcuts-background-home\addons\" type="bool">true</setting>
    <setting id="HideVisClock" type="bool">false</setting>
    <setting id="AutoScrollFast" type="bool">true</setting>
    <setting id="skinshortcuts-background-weather" type="bool">true</setting>
    <setting id="skinshortcuts-widget-WeatherForecastWidget" type="bool">true</setting>
    <setting id="ViewPreferClearLogo" type="bool">false</setting>
    <setting id="Home2" type="bool">false</setting>
    <setting id="Home3" type="bool">false</setting>
    <setting id="skinshortcuts-widget-RecentMovies" type="bool">true</setting>
    <setting id="skinshortcuts-background-home\movies\" type="bool">true</setting>
    <setting id="skinshortcuts-widget-PVRStatusWidget" type="bool">false</setting>
    <setting id="skinshortcuts-background-home\livetv\" type="bool">false</setting>
    <setting id="skinshortcuts-widget-RecentAlbums" type="bool">true</setting>
    <setting id="skinshortcuts-background-home\music\" type="bool">true</setting>
    <setting id="skinshortcuts-widget-RecentMusicVideos" type="bool">true</setting>
    <setting id="skinshortcuts-background-home\musicvideos\" type="bool">true</setting>
    <setting id="Slim_Seekbar" type="bool">true</setting>
    <setting id="ShowVideoPlotFullscreen" type="bool">true</setting>
    <setting id="skinshortcuts-background-home\dvd\" type="bool">true</setting>
    <setting id="home1" type="bool">false</setting>
    <setting id="Show_IMDbMediaFlag" type="bool">true</setting>
    <setting id="Hide_MovieTagline" type="bool">false</setting>
    <setting id="GlobalFanartLight" type="bool">false</setting>
    <setting id="AutoScroll" type="bool">true</setting>
    <setting id="skinshortcuts-widget-RecentEpisodes" type="bool">true</setting>
    <setting id="Enable_OSDClearArt" type="bool">true</setting>
    <setting id="skinshortcuts-background-home\videos\" type="bool">true</setting>
    <setting id="NoSegmentedFanart" type="bool">false</setting>
    <setting id="LogoViewSingleItem" type="bool">false</setting>
    <setting id="HomeStretchBackgrounds" type="bool">true</setting>
    <setting id="WeatherFanart.multi" type="bool">false</setting>
    <setting id="HideHelpText" type="bool">false</setting>
    <setting id="HomeMenuNoMovieButton" type="bool">false</setting>
    <setting id="HomeMenuNoTVShowButton" type="bool">false</setting>
    <setting id="HomeStats" type="bool">true</setting>
    <setting id="MusicSongInfoOverlay" type="bool">true</setting>
    <setting id="SmartShortcuts.netflix" type="bool">false</setting>
    <setting id="EnableWeatherNotifications" type="bool">false</setting>
    <setting id="EnableNextAiredNotifications" type="bool">false</setting>
    <setting id="SkinHelper.DisableHoursDuration" type="bool">false</setting>
    <setting id="NoViewGallerySquare" type="bool">false</setting>
    <setting id="SkinHelper.EnableAddonsLookups" type="bool">false</setting>
    <setting id="MediaOverlay" type="bool">false</setting>
    <setting id="HidePictureFanart" type="bool">false</setting>
    <setting id="skinshortcuts-widget-NextEpisodes" type="bool">true</setting>
    <setting id="HideClockTemp" type="bool">true</setting>
    <setting id="CropMVGalleryIcon" type="bool">false</setting>
    <setting id="skinshortcuts-background-home\trailers\" type="bool">true</setting>
    <setting id="NoViewLowList" type="bool">false</setting>
    <setting id="NoViewGallery" type="bool">false</setting>
    <setting id="skinshortcuts-widget-PVR" type="bool">true</setting>
    <setting id="DebugMode" type="bool">false</setting>
    <setting id="skinshortcuts-background-special://skin/backgrounds/globalsettings.jpg" type="bool">true</setting>
    <setting id="skinshortcuts-background-$INFO[Window(Home).Property(SkinHelper.AllTvShowsBackground)]" type="bool">true</setting>
    <setting id="skinshortcuts-widget-systeminfo" type="bool">true</setting>
    <setting id="skinshortcuts-widget-ProgramAddons" type="bool">true</setting>
    <setting id="skinshortcuts-widget-VideoAddons" type="bool">true</setting>
    <setting id="skinshortcuts-background-$INFO[Window(Home).Property(SkinHelper.AllMoviesBackground)]" type="bool">true</setting>
    <setting id="skinshortcuts-widget-RandomAlbums" type="bool">true</setting>
    <setting id="skinshortcuts-background-$INFO[Window(Home).Property(SkinHelper.AllMusicBackground)]" type="bool">false</setting>
    <setting id="skinshortcuts-widget-MusicVideos" type="bool">true</setting>
    <setting id="skinshortcuts-background-$INFO[Window(Home).Property(SkinHelper.AllMusicVideosBackground)]" type="bool">true</setting>
    <setting id="skinshortcuts-widget-PictureAddons" type="bool">true</setting>
    <setting id="skinshortcuts-widget-weather" type="bool">true</setting>
    <setting id="skinshortcuts-background-home\shutdown\" type="bool">true</setting>
    <setting id="SmartShortcuts.favorites" type="bool">false</setting>
    <setting id="skinshortcuts-widget-plugin://script.skin.helper.widgets/?action=favouriteslisting" type="bool">true</setting>
    <setting id="skinshortcuts-background-home\tvshows\" type="bool">true</setting>
    <setting id="WeatherIcons.multi" type="bool">false</setting>
    <setting id="SmartShortcuts.plex" type="bool">false</setting>
    <setting id="ViewLockdown" type="bool">false</setting>
    <setting id="SimpleMediaFilter" type="bool">true</setting>
    <setting id="HideMovieWatchedOverlays" type="bool">false</setting>
    <setting id="Show_VotesMediaFlagAlways" type="bool">false</setting>
    <setting id="Hide_ExtraMediaFlags" type="bool">false</setting>
    <setting id="NoViewPosterFanart" type="bool">false</setting>
    <setting id="HideTVWatchedOverlays" type="bool">false</setting>
    <setting id="Hide_Plot" type="bool">false</setting>
    <setting id="NoViewFanart" type="bool">false</setting>
    <setting id="HideUnfocusedWidgets" type="bool">false</setting>
    <setting id="Show_PlotOutline" type="bool">false</setting>
    <setting id="Hide_MediaFlags" type="bool">false</setting>
    <setting id="NoViewGalleryFanart" type="bool">false</setting>
    <setting id="NoViewPosterFixed" type="bool">false</setting>
    <setting id="NoViewPosterWrap" type="bool">false</setting>
    <setting id="NoViewPosterLargeFixed" type="bool">false</setting>
    <setting id="skinshortcuts-background-home\settings\" type="bool">true</setting>
    <setting id="NoViewPosterLargeWrap" type="bool">false</setting>
    <setting id="Show_MediaFlagUserRating" type="bool">false</setting>
    <setting id="NoViewListFanart" type="bool">false</setting>
    <setting id="NoViewBanner" type="bool">false</setting>
    <setting id="NoViewBannerFanart" type="bool">false</setting>
    <setting id="NoViewBannerPoster" type="bool">false</setting>
    <setting id="SkinHelper.EnableAnimatedPosters" type="bool">false</setting>
    <setting id="SkinHelper.EnableMusicArt" type="bool">false</setting>
    <setting id="NoViewLandscape" type="bool">false</setting>
    <setting id="skinshortcuts-background-home\weather\" type="bool">true</setting>
    <setting id="skinshortcuts-widget-Favourites" type="bool">true</setting>
    <setting id="skinshortcuts-background-home\favourites\" type="bool">true</setting>
    <setting id="skinshortcuts-background-home\search\" type="bool">true</setting>
    <setting id="LibraryUpdated" type="bool">true</setting>
    <setting id="SkinHelper.EnableExtraPoster" type="bool">false</setting>
    <setting id="SkinHelper.EnablePVRThumbs" type="bool">false</setting>
    <setting id="SkinHelper.ForcedViews.Enabled" type="bool">false</setting>
    <setting id="NoViewLogo" type="bool">false</setting>
    <setting id="NoViewCoverflow" type="bool">false</setting>
    <setting id="NoViewPictureGrid" type="bool">false</setting>
    <setting id="NoViewPanelSquare" type="bool">false</setting>
    <setting id="NoViewTallGenre" type="bool">false</setting>
    <setting id="RecordLabelIcons.name" type="string"></setting>
    <setting id="BannerViewHeight" type="string">2</setting>
    <setting id="LyricPath" type="string"></setting>
    <setting id="skinshortcuts-sharedmenu" type="string">true</setting>
    <setting id="DefaultOSD" type="string">74</setting>
    <setting id="SkinHelper.AutoCloseVideoOSD" type="string"></setting>
    <setting id="SkinHelper.AutoCloseMusicOSD" type="string"></setting>
    <setting id="StudioIcons.name" type="string"></setting>
    <setting id="SkinHelper.ColorTheme.Day.time" type="string"></setting>
    <setting id="SkinHelper.ColorTheme.Night.time" type="string"></setting>
    <setting id="SkinHelper.ShowInfoAtPlaybackStart" type="string"></setting>
    <setting id="SubtitlesPath" type="string"></setting>
    <setting id="SkinHelper.StudioLogos.Path" type="string"></setting>
    <setting id="skinshortcuts-widget-1" type="string">Favourites</setting>
    <setting id="WindowColorMain" type="string"></setting>
    <setting id="WindowColorThemed" type="string"></setting>
    <setting id="skinshortcuts-widget-2" type="string">RecentMovies</setting>
    <setting id="skinshortcuts-widget-3" type="string">RecentEpisodes</setting>
    <setting id="skinshortcuts-widget-4" type="string">RecentAlbums</setting>
    <setting id="skinshortcuts-widget-5" type="string">RecentMusicVideos</setting>
    <setting id="skinshortcuts-widget-6" type="string">WeatherForecastWidget</setting>
    <setting id="skinshortcuts-widget-7" type="string">RecentMovies</setting>
    <setting id="StudioIcons.path" type="string"></setting>
    <setting id="StudioIcons.ext" type="string"></setting>
    <setting id="OSDFade" type="string">Disabled</setting>
    <setting id="OSDFadeTime" type="string">5</setting>
    <setting id="LanguageIcons.name" type="string">Language Flags Complete Pack</setting>
    <setting id="LanguageIcons.path" type="string">resource://resource.images.languageflags.completepack/</setting>
    <setting id="LanguageIcons.ext" type="string">.png</setting>
    <setting id="skinshortcuts-widget-8" type="string">NextEpisodes</setting>
    <setting id="skinshortcuts-widget-9" type="string">RecentEpisodes</setting>
    <setting id="skinshortcuts-widget-10" type="string">PVR</setting>
    <setting id="skinshortcuts-widget-17" type="string">WeatherForecastWidget</setting>
    <setting id="WeatherFanart.name" type="string"></setting>
    <setting id="skinshortcuts-widget-11" type="string">RandomAlbums</setting>
    <setting id="mypassword" type="string"></setting>
    <setting id="WeatherFanart.path" type="string"></setting>
    <setting id="WeatherIcons.path" type="string"></setting>
    <setting id="passcode" type="string"></setting>
    <setting id="skinshortcuts-widget-12" type="string">RecentAlbums</setting>
    <setting id="CustomBackground" type="string"></setting>
    <setting id="skinshortcuts-widget-13" type="string">MusicVideos</setting>
    <setting id="skinshortcuts-widget-14" type="string">RecentMusicVideos</setting>
    <setting id="skinshortcuts-widget-15" type="string">PictureAddons</setting>
    <setting id="skinshortcuts-widget-16" type="string">weather</setting>
    <setting id="SkinHelper.ForcedViews.movies" type="string"></setting>
    <setting id="WeatherIcons.ext" type="string"></setting>
    <setting id="WeatherFanart.ext" type="string"></setting>
    <setting id="WeatherIcons.name" type="string"></setting>
    <setting id="SkinHelper.ForcedViews.artists" type="string"></setting>
    <setting id="SkinHelper.ForcedViews.tvshows" type="string"></setting>
    <setting id="videoinfo_traileraction" type="string"></setting>
    <setting id="SkinHelper.RandomFanartDelay" type="string"></setting>
    <setting id="SkinHelper.PicturesBackgroundPath" type="string"></setting>
    <setting id="SkinHelper.WallImagesDelay" type="string"></setting>
    <setting id="SkinHelper.ForcedViews.programs" type="string"></setting>
    <setting id="SkinHelper.CustomStudioImagesPath" type="string"></setting>
    <setting id="SkinHelper.ForcedViews.addons" type="string"></setting>
    <setting id="SkinHelper.ForcedViews.videos" type="string"></setting>
    <setting id="SkinHelper.ForcedViews.episodes" type="string"></setting>
    <setting id="SkinHelper.ForcedViews.albums" type="string"></setting>
    <setting id="SkinHelper.ForcedViews.files" type="string"></setting>
</settings>
